{% extends 'admin-template.html' %} {% block content %}
<div class="row">
  <div class="text-center fw-bolder h2">Branch</div>
  <hr class="mb-4" />
  <div class="h4 fw-bold">New Branch</div>
  <form
    action="/branch"
    ,
    method="post"
    onSubmit="document.getElementById('spinner').style.display='block';"
  >
    <div class="form-group row pt-1">
      <label for="name" class="col-sm-2 col-form-label"
        >Name of the Branch</label
      >
      <div class="col-sm-10">
        <input
          required
          type="text"
          class="form-control"
          id="name"
          placeholder="Name of the Branch"
          name="name"
        />
      </div>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary mt-3">Add Branch</button>
    </div>
  </form>
  <hr class="my-3" />
  <div class="h4 fw-bold">New Category</div>
  <form
    action="/category"
    ,
    method="post"
    onSubmit="document.getElementById('spinner').style.display='block';"
  >
    <div class="form-group row pt-1">
      <label for="category" class="col-sm-2 col-form-label"
        >Name of the Category</label
      >
      <div class="col-sm-10">
        <input
          required
          type="text"
          class="form-control"
          id="category"
          placeholder="Name of the Category"
          name="category"
        />
      </div>
    </div>
    <div class="form-group row pt-1">
      <label for="branch" class="col-sm-2 col-form-label">Branch</label>
      <div class="col-sm-10">
        <select class="form-control" id="branch" name="branch">
          {% for branch in branches %}
          <option value="{{branch._id}}">{{branch.name}}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary mt-3">Add Category</button>
    </div>
  </form>
  <hr class="my-3" />
  <div class="h4 fw-bold">Branch and Category</div>
  <div class="col-md-12 mx-1">
    <table class="table table-striped position-table">
      <thead>
        <tr>
          <th scope="col">Branch</th>
          <th scope="col">Category</th>
        </tr>
      </thead>
      <tbody>
        {% for branch in branches %}
        <tr>
          <td>{{branch.name}}</td>
          <td>
            {% for category in branch.categories %}
            <div class="cat-pill">
              {{category}}
              <form
                action="/delete/category/{{branch._id}}/{{category}}"
                method="post"
                class="form-inline"
                style="display: inline-block"
                onSubmit="var x = confirm('Are you sure you wish to delete?'); if(x){document.getElementById('spinner').style.display='block';} return x"
              >
                <div class="input-group">
                  <button
                    type="submit"
                    class="btn btn-danger btn-sm button-dan"
                    id="button-addon2"
                  >
                    x
                  </button>
                </div>
              </form>
            </div>
            {% endfor %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
