{% extends 'admin-template.html' %} {% block content %}
<form action="/candidates" , method="post">
  <div class="form-group row pt-1">
    <label for="name" class="col-sm-2 col-form-label"
      >Name of the Candidate</label
    >
    <div class="col-sm-10">
      <input
        required
        type="text"
        class="form-control"
        id="name"
        placeholder="Name of the Candidate"
        name="name"
      />
    </div>
  </div>
  <div class="form-group row pt-1">
    <label for="position" class="col-sm-2 col-form-label">Position</label>
    <div class="col-sm-10">
      <select required class="form-control" id="position" name="position">
        {% for position in positions %}
        <option value="{{position._id}}">{{position.name}}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Add Position</button>
</form>
<div class="row mt-4">
  <div class="col-sm-12">
    <h3>Candidates</h3>
  </div>
  <div class="col-md-12 pt-2">
    <table class="table table-striped position-table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Position</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for candidate in candidates %}
        <tr>
          <td>{{candidate.name}}</td>
          <td>{{candidate.position}}</td>
          <td>
            <a href="/delete/candidate/{{candidate._id}}" class="btn btn-danger"
              >Delete</a
            >
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endblock %}
</div>
