{% extends 'base-template.html' %} {% block content %}
<div class="row py-4">
  <div class="col-md-12 text-center my-2">
    <i class="fa fa-user user-circle"></i>
    <h2 class="display-6 fw-bolder">Welcome to Hash Vote!</h2>  
    <p class="px-5 hash-description text-center">
      Hash Vote is a simple, easy to use, and secure voting system. It is
      designed to be used by anyone, anywhere, and at any time. It is a great
      tool for any organization that needs to conduct a vote.
    </p>
  </div>
  <div class="text-center">
    <a href="/login/google" class="btn btn-primary btn-lg">Login</a>
  </div>
  {% endblock %}
</div>
